<h1>Passwrod Reset</h1>

<p>
  Hi, <%= @user.name %>,
</p>

<p>
	Please click the link below to reset your password!
</p>

<% temp_url = edit_password_reset_url(@user.reset_token, email: @user.email) %>
<%= link_to "Reset", temp_url %>

<p>
	If the link above doesn't work for your browser, please copy the url below to your browser manually,
</p>
<p><%= temp_url %></p>

<p>The link is only valid for half an hour.</p>