@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 1200px) {
	.container{
	max-width: 80%;
	}
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #eee;
}

.error_messages {
	color: red;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: 0;
}